@charset "utf-8";
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fontsize-sm);
  color: #fff;
  line-height: var(--lineheight-sm);
  background-color: var(--color-blk);
}

.wrapper {
  width: 100%;
  height: auto;
}

/* common */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  height: 80px;

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;

  backdrop-filter: blur(10px);
  transition: background-color, height 0.5s ease-in-out;
}

header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* logo */
h1 {
  width: fit-content;
  height: fit-content;

  margin: 30px 0;
}

h1 img {
  filter: invert(1);
}

/* menu */
#gnb {
  width: fit-content;
  height: 100%;
}

#gnb > ul {
  width: fit-content;
  height: auto;

  display: flex;
  gap: 40px;
  line-height: 80px;

  text-transform: capitalize;
  text-align: center;
}

#gnb > ul > li {
  width: 150px;

  position: relative;
}

#gnb > ul > li > a {
  display: block;
  transition: 0.3s;
  font-weight: 500;
}

#gnb > ul > li:hover > a {
  color: var(--color-main);
}

/* sub menu */
.submenu {
  width: 100%;
  height: 0px;
  line-height: var(--lineheight-md);

  position: absolute;
  top: 100px;
  transition: 0.5s;
  z-index: 1000;
  overflow: hidden;
}

.submenu > li {
  height: fit-content;
}

.submenu > li > a {
  display: block;
  transition: 0.3s;
}

.submenu > li:hover > a {
  color: var(--color-main);
}

#gnb:hover .submenu {
  height: 152px;
}

/* sub menu background */
#gnb::after {
  content: "";
  font-size: 0px;

  display: block;
  width: 100vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0);

  position: absolute;
  top: 80px;
  left: 0;

  transition: height 0.5s ease-in-out, background-color 0.3s;
}

header:hover {
  border-bottom: 1px solid #000;
}

#gnb:hover::after {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #ddd;
}

/* icon */
.icons {
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
}

.icons > a {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
  transition: 0.5s;
}

.icons > a:hover {
  color: var(--color-blk);
  background-color: var(--color-sub);
  border-radius: 100%;
}

.icons > a:last-child {
  display: none;
}

/* main common setting */
main,
section {
  width: 100%;
  height: auto;
}

/* main visual + sec2 */
.main_visual,
#sec2 {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual_text {
  width: 50%;
  box-sizing: border-box;
  padding: 0 200px;
  text-align: center;
}

.visual_text > h2 {
  font-size: clamp(80px, 5vw, 100px);
  line-height: 1;
  font-weight: 600;
  margin-bottom: 40px;
}

.visual_text > h2 > span {
  -webkit-text-fill-color: transparent; /* 폰트의 '벡터' 배경색을 투명하게 바꿈 */
  -webkit-text-stroke: 0.5px #fff;
  /* 벡터는 패스를 따라 테두리가 생기므로 1px로 설정하면 2px처럼 보인다.
  첫 번째 자리는 두께, 두 번째 자리는 색상 */
}

.visual_text > p {
  position: relative;
  animation: text_up 2s ease 1s 1 forwards;
  will-change: top opacity;

  font-size: var(--fontsize-md);
  font-weight: 300;
  line-height: var(--lineheight-md);
  opacity: 0;
}

@keyframes text_up {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.visual_video {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.visual_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll_down {
  position: absolute;
  bottom: 50px;
  transition: 0.3s linear;
  filter: drop-shadow(0px 2px 3px #000);
}

.scroll_down:hover {
  bottom: 55px;
}

/* sec2 */
#sec2 {
  background-color: var(--color-main);
  overflow: hidden;
}

.rocket {
  position: absolute;
  font-size: clamp(80px, 5vw, 100px);

  animation: rocket 5s linear 0.5s 1;
  animation-play-state: paused;
  will-change: transform;
  left: -200px;
}

#sec2:hover .rocket {
  animation-play-state: running;
}

@keyframes rocket {
  from {
    transform: translate(0px) rotate(0deg);
  }
  to {
    transform: translate(105vw) rotate(-360deg);
  }
}

/* sec3 */
.sec3 {
  padding: 200px 0;
  text-align: center;
}

.sec_title {
  font-size: var(--fontsize-xl);
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.sec_title + p {
  font-size: var(--fontsize-md);
  font-weight: 200;
  margin-bottom: 100px;
}

.icon_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon_content > div div {
  transition: 0.5s;
}

.icon_content > div:hover div {
  color: var(--color-sub);
  transform: translateY(-10px);
}

.text_bottom {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #444;
}

.text_bottom > h3 {
  font-weight: 600;
}

.text_bottom > p {
  font-weight: 200;
}

/* sec4 */
.sec4 {
  background-color: #51f47f;
  padding: 200px 0;
  position: relative;
}

.sec4 .con {
  display: flex;
}

.sec4::after,
.sec4::before {
  content: "circle";
  font-size: 0px;

  display: block;
  width: 600px;
  height: 600px;
  border-radius: 100%;

  z-index: 5;
}

.sec4::before {
  background-color: var(--color-main);

  position: absolute;
  left: -100px;
  top: 100px;
}

.sec4::after {
  background-color: #fff;
  opacity: 0.4;

  width: 300px;
  height: 300px;

  position: absolute;
  right: 100px;
  bottom: 100px;
}

/* sticky text */
.sec4 > .con > .heading_left {
  width: clamp(480px, 30%, 480px);
  height: 1320px; /* sticky가 움직일 수 있는 공간 */
  position: relative;
}

.heading_left > .text_box {
  position: sticky;
  top: 200px;
  left: 0;
  z-index: 99;
}

.heading_left > .text_box h2 {
  font-size: var(--fontsize-xl);
  font-weight: 600;
  line-height: var(--lineheight-xl);
}

.heading_left > .text_box p {
  margin-bottom: 40px;
}

.more {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 150px;
  padding: 8px 16px;
  border: 1px solid #fff;
  box-sizing: border-box;
  font-weight: 500;

  transition: 0.5s;
}

.more > i {
  display: block;
  width: fit-content;
  height: fit-content;
  transition: transform 0.5s;
}

.more:hover {
  border-color: var(--color-blk);
  color: var(--color-blk);
}

.more:hover > i {
  transform: rotate(360deg);
}

/* right content */
.right_con {
  width: 70%;
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.data_box {
  width: 60%;
  height: 300px;
  box-sizing: border-box;
  padding: 20px;

  transition-property: width, border-bottom, color;
  transition-duration: 0.8s, 0.1s, 0.5s;

  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #fff;
}

.data_box:hover {
  width: 70%;
  color: var(--color-main);
  border-bottom: 3px solid var(--color-main);
}

.data_box img {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}

.data_box:hover img {
  opacity: 1;
  transform: translateX(-320px);
}

.data_box h4 {
  line-height: var(--lineheight-md);
  font-weight: 600;
}

.data_box h3 {
  font-size: var(--fontsize-xl);
  font-weight: 400;
  text-transform: capitalize;
  line-height: var(--lineheight-lg);
  margin-bottom: 20px;
}

.data_box p {
  font-size: var(--fontsize-md);
  font-weight: 200;
}

/* sec5 */
.sec5 {
  padding: 200px 0;
  overflow: hidden;
  position: relative;
}

.sec5 > .con {
  position: relative;
  z-index: 20;
}

.sec5 > .con > h2 > br {
  display: none;
}

.sec5 > .con > h2 {
  line-height: 1;
}

.card_wrap {
  width: 100%;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;
  z-index: 12;
}

.card_wrap > .card {
  width: calc(25% - 20px);
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  will-change: width, flex;
}

.card_wrap > .card:hover {
  width: calc(28% - 20px);
}

.card > .img_area {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.img_area > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: grayscale(0.7);
}

.card:hover > .img_area {
  background-color: rgba(0, 0, 0, 0.6);
}

.card:hover img {
  filter: grayscale(0) drop-shadow(3px 3px 4px rgb(86, 9, 211));
}

.card > .text_wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.text_wrap h3 {
  font-size: var(--fontsize-md);
  font-weight: 500;
  margin-bottom: 20px;
}

.text_wrap p {
  height: 120px;
}

.text_wrap .more:hover {
  color: var(--color-sub);
  border: 1px solid var(--color-sub);
}

/* rolling text */
.rolling {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;

  font-size: clamp(50px, 5vw, 100px);
  font-weight: 800;
  opacity: 0.8;

  position: absolute;
  top: 50%;

  transform: rotate(10deg);
}
.rolling div {
  display: flex;
  gap: 30px;

  position: absolute;
  will-change: transform;
  width: max-content;
}

.rolling div p {
  flex-shrink: 0;
}

.rolling div p:nth-child(even) {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--color-main);
}

.rolling div p:nth-child(odd) {
  -webkit-text-fill-color: var(--color-main);
}

.fill_text {
  animation: rolling1 12s linear infinite reverse;
}

.fill_text p:last-child {
  margin-right: 30px;
}

.line_text {
  animation: rolling2 12s linear infinite reverse;
}

@keyframes rolling1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes rolling2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
